#early-access {
    background-color: var(--dark-blue);
    padding: 3rem 2rem 2rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    h2, p, input {
        margin-bottom: 1rem;
    }
    input {
        border: none;
        height: 50px;
        border-radius: 25px;
    }
    input, button {
        width: 100%;
    }
}