:root {
    --dark-blue: hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonials: hsl(219, 30%, 18%);

    // accent 1: cyan
    --accent-1:hsl(176, 68%, 64%);
    // accent 2: blue
    --accent-2:hsl(198, 60%, 50%);

    --text-color: hsl(0, 0%, 100%);
}