:root {
  --dark-blue: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonials: hsl(219, 30%, 18%);
  --accent-1:hsl(176, 68%, 64%);
  --accent-2:hsl(198, 60%, 50%);
  --text-color: hsl(0, 0%, 100%);
  --button-bg-hover:hsl(198, 60%, 40%);
}

* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--main-bg);
  color: var(--text-color);
  max-width: 100vw;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: var(--accent-1);
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

:root {
  --dark-blue: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonials: hsl(219, 30%, 18%);
  --accent-1:hsl(176, 68%, 64%);
  --accent-2:hsl(198, 60%, 50%);
  --text-color: hsl(0, 0%, 100%);
  --button-bg-hover:hsl(198, 60%, 40%);
}

button {
  background-color: var(--accent-2);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 25px;
}

button:hover {
  background-color: var(--button-bg-hover);
}

@media screen and (min-width: 600px) {
  button {
    font-size: 17px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4rem;
}

header #header-logo {
  width: 90px;
  margin: 0;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

header li {
  padding-left: 1.5rem;
}

@media screen and (min-width: 600px) {
  header {
    width: 80%;
  }
  header #logo {
    width: 120px;
  }
}

@media screen and (min-width: 780px) {
  header {
    width: 80%;
    height: 6rem;
  }
  header #logo {
    width: 160px;
  }
}

footer {
  margin-top: -18rem;
  padding-top: 18rem;
  z-index: -3;
  position: relative;
  background-color: var(--footer-bg);
  text-align: left;
  width: 100%;
}

footer * {
  margin: 0 0;
}

footer .footer-logo {
  width: 160px;
  margin-left: 2.5rem;
}

footer .footer-content {
  padding: 3em 2rem;
}

footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

footer .footer-info p {
  margin-left: 15px;
  margin-bottom: 1rem;
}

footer .footer-info .icon {
  width: 20px;
}

footer p,
footer li {
  line-height: 1.5rem;
}

footer ul {
  padding: 0;
  margin-top: 2rem;
}

footer ul li {
  margin-bottom: 1rem;
}

footer .footer-icons-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem auto;
}

footer .icon-container {
  width: 36px;
  height: 36px;
  border: 1px solid white;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .icon-container + .icon-container {
  margin-left: 10px;
}

footer .icon-container:hover {
  border-color: var(--accent-1);
}

@media screen and (min-width: 780px) {
  footer {
    margin-top: -15rem;
    padding-top: 15rem;
    padding-left: 5%;
    padding-right: 5%;
  }
  footer .footer-logo {
    margin-left: 0;
  }
  footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin-top: 2rem;
  }
  footer .footer-content .content {
    max-width: 30%;
  }
  footer .footer-content .content ul {
    width: 15%;
  }
  footer .footer-icons-social-media,
  footer ul {
    margin: 0 0;
  }
}

#introduction {
  max-width: 700px;
  padding: 0 1rem 1rem 1rem;
}

#introduction img {
  max-height: 350px;
}

#introduction h1 {
  margin: 1.5rem 0 1rem 0;
}

#introduction p {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 780px) {
  #introduction p {
    max-width: 70%;
  }
}

#benefits .benefit {
  padding: 3rem 1rem;
  max-width: 25rem;
}

#benefits img {
  margin-bottom: 2rem;
}

#benefits h3 {
  margin-bottom: 1rem;
}

#stay-productive {
  text-align: left;
}

#stay-productive a {
  border-bottom: 1px solid var(--accent-1);
  color: var(--accent-1);
}

#stay-productive a:hover {
  color: var(--accent-2);
}

#stay-productive p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  #stay-productive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  #stay-productive #text, #stay-productive .illustration {
    width: 45%;
  }
  #stay-productive h2 {
    font-size: 26px;
  }
}

#early-access {
  padding: 3rem 2rem 2rem 2rem;
  background-color: var(--dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px -10px black;
          box-shadow: 5px 5px 20px -10px black;
  max-width: 900px;
}

#early-access h2, #early-access p, #early-access input {
  margin-bottom: 1rem;
}

#early-access form {
  margin-top: 1.5rem;
}

#early-access input {
  border: none;
  height: 50px;
  border-radius: 25px;
}

#early-access input::-webkit-input-placeholder {
  position: relative;
  left: 1.5rem;
}

#early-access input:-ms-input-placeholder {
  position: relative;
  left: 1.5rem;
}

#early-access input::-ms-input-placeholder {
  position: relative;
  left: 1.5rem;
}

#early-access input::placeholder {
  position: relative;
  left: 1.5rem;
}

#early-access form, #early-access input, #early-access button {
  width: 100%;
}

@media screen and (min-width: 780px) {
  h2, p, form {
    padding-right: 5%;
    padding-left: 5%;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  form button {
    max-width: 16rem;
    margin-left: 1.5rem;
  }
}

#page-container {
  padding: 0 1.5rem 0 1.5rem;
}

#page-container p,
#page-container li {
  font-size: 14px;
}

#page-container p {
  line-height: 1.3rem;
}

#page-container h1 {
  line-height: 2.5rem;
  font-size: 26px;
  margin-bottom: 1rem;
}

#page-container h1, #page-container h2, #page-container h3, #page-container h4, #page-container h5, #page-container h6,
#page-container nav {
  font-family: 'Raleway', sans-serif;
}

#page-container section {
  margin-bottom: 100px;
}

@media screen and (min-width: 600px) {
  #page-container #introduction,
  #page-container #benefits {
    width: 60%;
  }
  #page-container p, #page-container li {
    font-size: 17px;
  }
  #page-container h1 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=index.css.map */