// ---- Import variables and constants for the page
@import './partials/variables';
// ----
@import './partials/global';
// Atomic components
@import './partials/button';
// Header and Footer
@import './partials/header';
@import './partials/footer';
// Sections
@import './partials/sections/introduction';
@import './partials/sections/benefits';
@import './partials/sections/stay-productive';
@import './partials/sections/early-access';
// ----

#page-container {
    padding: 0 1.5rem 0 1.5rem;
    p,
    li {
        font-size: $regular-text-mobile;
    }
    p {
        line-height: 1.3rem;
    }
    h1 {
        line-height: 2.5rem;
        font-size: $h1-mobile;
        margin-bottom: 1rem;
    }

    h1, h2, h3, h4, h5, h6,
    nav {
        font-family: 'Raleway', sans-serif;
    }
    section {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 600px) {
    #page-container {
        #introduction,
        #benefits {
            width: 60%;
        }
        p, li {
            font-size: $regular-text-desktop;
        }
        h1 {
            font-size: $h1-desktop;
        }
    }
}