footer {
    background-color: var(--footer-bg);
    text-align: left;
    width: 100%;
    padding: 2em 1rem;
    .footer-info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    li {
        margin: 0;
        line-height: 2.3rem;
    }
    ul {
        margin-bottom: 2rem;
    }
    .icon img {
        width: 20px;
    }
}