header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $header-height-mobile;
    background-color: var(--dark-blue);
    padding: 0 1.5rem 0 1.5rem;
    #header-logo {
        width: $logo-small;
        margin: 0;
    }
    nav {
        display: flex;
        margin: 0;
    }
    li {
        padding-left: 1.5rem;
    }
}

@media screen and (min-width: 600px) {
    header {
        padding: 0 10% 0 10%;
        #logo {
            width: $logo-medium;
        }
    }
}

@media screen and (min-width: 780px) {
    header {
        height: $header-height-desktop;
        #header-logo {
            width: $logo-big;
        }
    }
}